<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/8b1e6fef-60d2-4fc5-88ea-896baa3beeea.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mena Malena C.</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam amet aliquid deleniti rerum tempora officia natus perferendis quas? Harum totam quo error dolores aspernatur ut reprehenderit repudiandae delectus dicta facere.
                </p>
            </span>
    </div>
</div>
</div>